* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cartao {
    width: 260;
    height: 200;
}

.cartao-imagem {
    width: 100%;
}

main {
    flex: 1;
}

.cabecalho-link {
    color: white;
}

h1 {
    color: aliceblue;
}

footer {
    background-color: brown;
    padding: 15px 25px;
    color: aliceblue;
}